<div id="jsharmony_cms_editor_bar">
  <div class="actions"><!--
    --><a class="button" style="display:none;" onclick="jsHarmonyCMS.settings(); return false;" title="Save">Page Settings</a><!--
    --><a class="button" onclick="jsHarmonyCMS.save(); return false;" title="Save">Save</a><!--
    --><a class="button icon autoHideEditorBar" style="display:none;" onclick="jsHarmonyCMS.toggleEditorBarAutoHide(); return false;" title="Auto-hide"><i class="material-icons hide">vertical_align_top</i><i class="material-icons dock">vertical_align_bottom</i></a><!--
  --></div>
  <div class="title" ></div>
</div>