<div id="jsharmony_cms_editor_bar" class="jsharmony_cms">
  <div class="actions"><!--
    --><a class="jsharmony_cms_button settings" onclick="return false;" title="Page Settings">Page Settings</a><!--
    --><a class="jsharmony_cms_button save" onclick="return false;" title="Save">Save</a><!--
    --><a class="jsharmony_cms_button static readonly" style="display:none;" onclick="return false;" title="Read Only">(Read Only)</a><!--
    --><a class="jsharmony_cms_button icon autoHideEditorBar" style="display:none;" onclick="return false;" title="Auto-hide"><i class="material-icons hide">vertical_align_top</i><i class="material-icons dock">vertical_align_bottom</i></a><!--
  --></div>
  <div class="title" ></div>
  <div class="page_settings" style="display:none;">
    <div class="xtabcontrol">
      <div class="xtabs">
        <a href="#" class="xtab" for="jsharmony_cms_page_settings_overview">Overview</a>
        <a href="#" class="xtab jsharmony_cms_page_settings_properties_button" for="jsharmony_cms_page_settings_properties" style="display:none;">Page Properties</a>
        <a href="#" class="xtab" for="jsharmony_cms_page_settings_seo">SEO</a>
        <a href="#" class="xtab" for="jsharmony_cms_page_settings_css">Custom CSS</a>
        <a href="#" class="xtab" for="jsharmony_cms_page_settings_header">Header Code</a>
        <a href="#" class="xtab" for="jsharmony_cms_page_settings_footer">Footer Code</a>
      </div>
      <div class="xpanel">
        <div class="xtabbody jsharmony_cms_page_settings_overview">
          <div class="jsharmony_cms_page_settings_table">
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell"><label>Page Title:</label></div>
              <div class="jsharmony_cms_page_settings_cell" style="width:100%;"><input type="text" class="page_settings_ctrl page_settings_title" /></div>
            </div>
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell" style="vertical-align:top;padding-top:8px;"><label>Tags:</label></div>
              <div class="jsharmony_cms_page_settings_cell"><div class="page_settings_tags_editor xtagbox"></div><input type="text" class="page_settings_ctrl page_settings_tags xtagbox_base" /></div>
            </div>
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell"><label>Author:</label></div>
              <div class="jsharmony_cms_page_settings_cell"><select class="page_settings_author"></select></div>
            </div>
          </div>
        </div>
        <div class="xtabbody jsharmony_cms_page_settings_properties">
        </div>
        <div class="xtabbody jsharmony_cms_page_settings_seo">
          <div class="jsharmony_cms_page_settings_table">
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell"><label>Title Tag:</label></div>
              <div class="jsharmony_cms_page_settings_cell" style="width:100%;"><input type="text" class="page_settings_ctrl page_settings_seo_title" /></div>
            </div>
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell"><label>Meta Keywords:</label></div>
              <div class="jsharmony_cms_page_settings_cell"><input type="text" class="page_settings_ctrl page_settings_seo_keywords" /></div>
            </div>
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell" style="vertical-align:top;padding-top:3px;"><label>Meta Description:</label>
              </div>
              <div class="jsharmony_cms_page_settings_cell"><textarea class="page_settings_seo_metadesc small"></textarea></div></div>
            <div class="jsharmony_cms_page_settings_row">
              <div class="jsharmony_cms_page_settings_cell"><label>Canonical URL:</label></div>
              <div class="jsharmony_cms_page_settings_cell"><input type="text" class="page_settings_ctrl page_settings_seo_canonical_url" /></div>
            </div>
          </div>
        </div>
        <div class="xtabbody jsharmony_cms_page_settings_css">
          <textarea class="page_settings_css code"></textarea>
        </div>
        <div class="xtabbody jsharmony_cms_page_settings_header">
          <textarea class="page_settings_header code"></textarea>
        </div>
        <div class="xtabbody jsharmony_cms_page_settings_footer">
          <textarea class="page_settings_footer code"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="jsharmony_cms_editor_errors" class="jsharmony_cms"></div>