<%-(rootcss)%> .xtbl tbody tr.branch_checked_out,
<%-(rootcss)%> .xtbl tbody tr.site_checked_out,
<%-(rootcss)%> .xtbl tbody tr.site_editor_current {
  background-color:#c2ffb8;
}
<%-(rootcss)%> .bcrumbs_site_header a {
  font-weight: bold;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
  position:relative;
  top:1px;
}
<%-(rootcss)%> .bcrumbs_branch_header {
  border:1px solid #333;
  color:white;
  background-color:#333;
  padding:4px 11px;
  display:inline-block;
}
<%-(rootcss)%> .bcrumbs_branch_body {
  border:1px solid #333;
  padding:4px 11px;
  display:inline-block;
  color:#000;
  margin-right:10px;
}
<%-(rootcss)%> .bcrumbs_branch_body_highlight {
  background-color:#c2ffb8;
}
<%-(rootcss)%> .bcrumbs_branch_body a { color:#000; }

<%-(rootcss)%> .diff_editor_selection_container {
  display:inline-block;
  font-weight: normal;
  font-size: 0.8em;
  margin-left: 20px;
  position: relative;
  top: -2px;
}
<%-(rootcss)%> .bcrumbs_editor_selection_container {
  display:inline-block;
}
<%-(rootcss)%> .editor_selection_header {
  border:1px solid #333;
  color:white;
  background-color:#333;
  padding:4px 11px;
  display:inline-block;
}
<%-(rootcss)%> .editor_selection_body {
  box-sizing:border-box;
  padding:0;
  display:inline-block;
  color:#000;
}
<%-(rootcss)%> .editor_selection {
  padding:2px 11px 4px 11px;
  outline:none;
}

<%-(rootcss)%> body .xtbl tbody tr.active_revision {
  background-color:#c2ffb8;
}


<%-(rootcss)%> .branch_diff_item_header {
  font-family:monospace;
}
<%-(rootcss)%> .branch_diff_item_header .branch_action_icon {
  position: relative;
  top: 5px;
  line-height: 16px;
  margin-right: 3px;
  font-size: 20px;
}
<%-(rootcss)%> .branch_diff_item_header a.preview {
  font-family:'Roboto', arial, helvetica, sans-serif;
  font-weight:normal;
  margin-left:15px;
}
<%-(rootcss)%> .branch_diff_item_header a.preview img {
  height:16px;
  position:relative;
  top:3px;
  margin-right:7px;
}
<%-(rootcss)%> .branch_diff_item_header .branch_action_icon.delete { color:#ff0000; }
<%-(rootcss)%> .branch_diff_item_header .branch_action_icon.add { color:#00aa00; }
<%-(rootcss)%> .branch_diff_item_header .branch_action_icon.update { color:#0014ff; }
<%-(rootcss)%> .branch_diff_item_header .branch_action_icon.rename { color:#0014ff; }
<%-(rootcss)%> .spacer_diff {
  width:800px;
}
<%-(rootcss)%> .branch_diff_item_collapsed .branch_diff_item_details {
  display: none;
}
<%-(rootcss)%> .branch_diff_item_expand {
  display: none;
}
<%-(rootcss)%> .branch_diff_item_collapsed .branch_diff_item_expand {
  display: inline-block;
}
<%-(rootcss)%> .branch_diff_item_collapsed .branch_diff_item_collapse {
  display: none;
}
<%-(rootcss)%> a.branch_diff_item_toggle img {
  height:16px;
  position:relative;
  top:3px;
  margin-right:7px;
}
<%-(rootcss)%> .diff_display hr {
  border-top:1px solid #eee;
}
<%-(rootcss)%> .diff_display h4 {
  margin-top:4px;
  margin-bottom:4px;
}
<%-(rootcss)%> .diff {
  overflow:auto;
  position:relative;
  max-width:90vw;
  max-height:400px;
}
<%-(rootcss)%> .diff_head {
  font-weight:bold;
  font-family:monospace;
}
<%-(rootcss)%> .diff_item {
  font-family:monospace;
}
<%-(rootcss)%> .diff .d2h-file-diff {
  overflow-y: visible;
}
<%-(rootcss)%> .diff_media_preview {
  display:inline-block;
  padding-top:10px;
  padding-right:10px;
  font-weight:bold;
  cursor:pointer;
  vertical-align:top;
}
<%-(rootcss)%> .diff_media_preview img {
  margin-top:3px;
}

<%-(rootcss)%> .conflict_display hr {
  border-top:1px solid #eee;
  margin:0;
}
<%-(rootcss)%> .conflict_display h4 {
  margin-top:4px;
  margin-bottom:4px;
}
<%-(rootcss)%> .conflict_display .button {
  margin-left:10px;
  padding: 2px 10px;
  background:linear-gradient(180deg, rgba(255,224,95,1) 0%, rgba(235,202,92,1) 100%);
  border:1px solid #b58c00;
}
<%-(rootcss)%> .conflict_display .button:hover {
  background:linear-gradient(180deg, rgba(255,205,0,1) 0%, rgba(237,183,0,1) 100%);
  border:1px solid #836600;
}
<%-(rootcss)%> .branch_diff_comparison .diff {
  max-width:100%;
}
<%-(rootcss)%> .branch_diff_comparison > table {
  width:100%;
}
<%-(rootcss)%> .branch_diff_comparison_src { padding-left:8px; border-left:1px solid #eee; }
<%-(rootcss)%> .branch_diff_comparison_dst { padding-right:8px; border-right:1px solid #eee; }
<%-(rootcss)%> .branch_diff_comparison_src,
<%-(rootcss)%> .branch_diff_comparison_dst {
  max-width: 48vw;
  width:50%;
  box-sizing:border-box;
  vertical-align: top;
  padding-top:5px;
  padding-bottom:7px;
}
<%-(rootcss)%> .headerInfo_caption {
  border:1px solid #333;color:white;background-color:#333;padding:4px 11px;display:inline-block;width:125px;box-sizing:border-box;
}
<%-(rootcss)%> .headerInfo_content {
  border:1px solid #333;padding:4px 11px;display:inline-block;color:#000;background-color:#c2ffb8;
}
<%-(rootcss)%> .headerInfo_site {
  position: relative;
  padding-left: 36px;
}
<%-(rootcss)%> .headerInfo_site .material-icons {
  font-size: 27px;
  position: absolute;
  top: -5px;
  left: 0px;
}
<%-(rootcss)%> .xlogoimg {
  top:-1px;
}
<%-(rootcss)%> .jsHarmonyCms_site_selection {
  border:1px solid #c5d2e7;
  background-image: url(/images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: right 7px;
  padding: 2px 21px 1px 26px;
  position: relative;
  top: 1px;
}
<%-(rootcss)%> .jsHarmonyCms_site_selection .material-icons,
<%-(rootcss)%> .xcontext_menu.jsHarmonyCms_site_selection_dropdown a .material-icons {
  font-size: 13px;
  position: absolute;
  top: 4px;
  left: 7px;
  font-weight: normal;
}
<%-(rootcss)%> .xcontext_menu.jsHarmonyCms_site_selection_dropdown a {
  padding: 2px 21px 1px 26px;
  background-color:#24528f;
  color:#fff;
  letter-spacing:1px;
  font-size:12px;
  position:relative;
}
<%-(rootcss)%> .xcontext_menu.jsHarmonyCms_site_selection_dropdown a:hover {
  text-decoration:underline;
}
<%-(rootcss)%> a.jsHarmonyCms_action_button,
<%-(rootcss)%> .jsHarmonyCms_action_button a {
  display:inline-block;
  padding:3px 15px;
  background-color:#306EBF;
  color:#fff;
  border:1px solid #2D68B5;
  font-size:0.9em;
}
<%-(rootcss)%> a.jsHarmonyCms_action_button:hover,
<%-(rootcss)%> .jsHarmonyCms_action_button a:hover {
  background-color:#3477CF;
  text-decoration:none;
}
<%-(rootcss)%> .jsHarmonyCms_info_tip::before {
  content: "i";
  border: 3px solid #24528f;
  font-size:18px;
  font-family:"Times New Roman", Times, serif;
  width:20px;
  height:20px;
  line-height:20px;
  border-radius:50%;
  display:block;
  position:absolute;
  left:4px;
  top:4px;
  text-align:center;
  color: #24528f;
  font-weight: bold;
  opacity:0.75;
}
<%-(rootcss)%> .jsHarmonyCms_info_tip {
  padding-left:40px;
  margin-top:6px;
  margin-bottom:12px;
  position:relative;
  color:#555;
}