.xbody {
  width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
}
.<%=model.class%>_Merge .plain {
  font-weight: normal;
  font-size: 13px;
}
.<%=model.class%>_Merge div.head {
  display: inline-block;
  width: 90px;
  margin-bottom:10px;
}
.<%=model.class%>_Merge div.plain {
  display: inline-block;
}
.<%=model.class%>_Merge td.head {
  xwidth: 200px;
  white-space: nowrap;
  vertical-align: top;
  padding-right: 0.5em;
  top: -3px;
  position: relative;
}
.jsHarmonyCms_Branch_Summary_Actions_Bar {
  padding-bottom:3px;
  display: inline-block;
  width: calc(100% - 140px);
}
.jsHarmonyCms_Branch_Summary_Actions_Bar a {
  margin-right:15px;
  margin-top:3px;
  color:#333;
  display:inline-block;
}
.jsHarmonyCms_Branch_Summary_Actions_Bar a img {
  position:relative;
  top:2px;
  margin-right:5px;
  height:14px;
}