.<%=model.class%>_branch_diff_item_header {
  font-family:monospace;
}
.<%=model.class%>_branch_diff_item_header .branch_action_icon {
  position: relative;
  top: 5px;
  line-height: 16px;
  margin-right: 3px;
  font-size: 20px;
}
.<%=model.class%>_branch_diff_item_header a.preview {
  font-family:'Roboto', arial, helvetica, sans-serif;
  font-weight:normal;
  margin-left:15px;
}
.<%=model.class%>_branch_diff_item_header a.preview img {
  height:16px;
  position:relative;
  top:3px;
  margin-right:7px;
}
.<%=model.class%>_branch_diff_item_header .branch_action_icon.delete { color:#ff0000; }
.<%=model.class%>_branch_diff_item_header .branch_action_icon.add { color:#00aa00; }
.<%=model.class%>_branch_diff_item_header .branch_action_icon.update { color:#0014ff; }
.<%=model.class%>_branch_diff_item_header .branch_action_icon.rename { color:#0014ff; }
.spacer_<%=model.class%> {
  width:800px;
}
.diff_<%=model.class%> hr {
  border-top:1px solid #eee;
}
.diff_<%=model.class%> h4 {
  margin-top:4px;
  margin-bottom:4px;
}
.<%=model.class%>_diff {
  overflow:auto;
  position:relative;
  max-width:90vw;
  max-height:400px;
}
.<%=model.class%>_diff_head {
  font-weight:bold;
  font-family:monospace;
}
.<%=model.class%>_diff_item {
  font-family:monospace;
}
.<%=model.class%>_diff .d2h-file-diff {
  overflow-y: visible;
}
.<%=model.class%>_media_preview {
  display:inline-block;
  padding-top:10px;
  padding-right:10px;
  font-weight:bold;
  cursor:pointer;
  vertical-align:top;
}
.<%=model.class%>_media_preview img {
  margin-top:3px;
}