<div style="display:none;">
  <div class="<%=model.class%>_Merge xdialogbox xpromptbox" style="min-width:350px;">
    <h3>Approve & Merge Branch</h3>
    <div align="left" style="padding-top:15px;">
      <div style="display: inline-block; width: 80px;margin-bottom:10px;">Merge Into:</div>
      <select class="dst_branch_id dropdown default_focus"></select><br/>

      <div style="display: inline-block; width: 90px;margin-bottom:10px;">Merge Type:</div>
      <table border="0" style="display: inline-block; vertical-align: top;">
        <tr>
          <td><label><input type="radio" name="<%=model.class%>_Merge_Type_option" value="APPLY" checked="checked">
              Only Merge Changes Listed Here
          </label></td>
        </tr>
        <tr>
          <td><label><input type="radio" name="<%=model.class%>_Merge_Type_option" value="OVERWRITE">
              Overwrite Entire Target Branch
          </label></td>
          </tr>
      </table>

      <div style="text-align:center;"><input type="button" value="Merge" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div>
    </div>
  </div>
</div>