<hr/>
<link rel="stylesheet" type="text/css" href="/css/diff2html.min.css">
<h3>Branch Changes</h3>
<div class='clear diff_<%=model.class%>' style='margin-top:10px;margin-bottom:20px;'></div>
<div class='spacer_<%=model.class%>'></div>

<div style="display:none;">
  <div class="<%=model.class%>_Merge xdialogbox xpromptbox" style="min-width:350px;">
    <h3>Approve & Merge Branch</h3>
    <div align="left" style="padding-top:15px;">
      <div style="display: inline-block; width: 80px;margin-bottom:10px;">Merge Into:</div>
      <select class="dst_branch_id dropdown default_focus"></select><br/>

      <div style="text-align:center;"><input type="button" value="Merge" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div>
    </div>
  </div>
</div>