<hr/>
<link rel="stylesheet" type="text/css" href="/css/diff2html.min.css">
<h3>Branch Changes</h3>
<div class='clear diff_<%=model.class%>' style='margin-top:10px;margin-bottom:20px;'></div>
<div class='spacer_<%=model.class%>'></div>