.xbody_<%=model.class%> {
  width:100%; 
  padding-right:20px; 
  box-sizing:border-box;
  padding-bottom:0px;
}
.xbody_<%=model.class%> .bcrumbs { 
  width:100%; 
  padding-right:20px; 
  padding-bottom:15px;
  box-sizing:border-box;
}
.<%=model.class%>_browser {
  display:flex;
  width:100%;
  min-width:950px;
  min-height:400px;
  box-sizing:border-box;
}
.xelem<%=model.class%>.tree.media_folder {
  height:auto;
  min-height:400px;
  box-sizing:border-box;
  flex-shrink:0;
}
.<%=model.class%>_file_listing {
  flex-grow:1;
  margin-top:0px;
  border-right:1px solid #aaa; 
  border-bottom:1px solid #aaa;
  border-top:1px solid #aaa;
  position:relative;
}
.<%=model.class%>_file_listing.dragOver {
  background-color:#f5f5ff;
}
.<%=model.class%>_file_listing_scroll {
  overflow-y:auto;
  width:100%;
  height:100%;
}
.<%=model.class%>_file_tile_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: first baseline;
  padding:10px 15px;
}
.<%=model.class%>_file_tile {
  max-width:150px;
  margin:4px 4px;
  padding:9px 12px 7px 12px;
  flex-grow:1;
  flex-shrink:1;
  flex-basis:150px;
}
.<%=model.class%>_file_tile:hover {
  background-color:#f5f5ff;
}
.<%=model.class%>_file_tile.selected {
  background-color:#eeeeff;
  border:1px solid #ccccff;
  padding:8px 11px 6px 11px;
}
.<%=model.class%>_file_tile img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5px;
} 
.<%=model.class%>_file_tile span {
  display:block;
  text-align:center;
}

.<%=model.class%>_file_listing_tbl {
  width:100%;
  box-sizing:border-box;
}

.<%=model.class%>_file_listing_tbl thead tr th {
  background-color:#fcfcfc;
  color:#333;
  cursor:default;
  padding-top:4px;
  padding-bottom:3px;
}
.<%=model.class%>_file_listing_tbl th,
.<%=model.class%>_file_listing_tbl td {
  padding:2px 6px;
}
.<%=model.class%>_file_listing_tbl thead th.sortable:hover {
  text-decoration:underline;
}
.<%=model.class%>_file_listing_tbl .icon {
  width:14px;
}
.<%=model.class%>_file_listing_tbl tbody tr td {
  border-top:1px solid transparent;
  border-bottom:1px solid transparent;
}
.<%=model.class%>_file_listing_tbl tbody tr:hover {
  background-color:#f5f5ff;
}
.<%=model.class%>_file_listing_tbl tbody tr.selected td {
  background-color:#eeeeff;
  border-top:1px solid #ccccff;
  border-bottom:1px solid #ccccff;
}
.<%=model.class%>_file_listing_tbl tbody tr td {
  cursor:default;
}

.<%=model.class%>_file_info {
  flex-shrink:0;
  width:250px;
  margin-top:0px;
  border-right:1px solid #aaa; 
  border-bottom:1px solid #aaa;
  border-top:1px solid #aaa;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
}
.<%=model.class%>_file_info_header {
  background-color:#f5f5f5;
  color:#333;
  font-size:0.9em;
  font-weight:bold;
  border-bottom:1px solid #999;
  padding:8px 15px 7px 15px;
}
.<%=model.class%>_file_info_preview {
  display:block;
  margin:1px auto 1px auto;
  max-width:100%;
  box-sizing:border-box;
  cursor: pointer;
  padding:6px 6px 3px 6px;
}
.<%=model.class%>_file_info_items {
  flex-grow:1;
  overflow-y:auto;
  padding:2px 8px 2px 8px;
}
.<%=model.class%>_file_info_item {
  display:flex;
  align-items: first baseline;
  margin-bottom:4px;
}
.<%=model.class%>_file_info label {
  display:block;
  font-weight:bold;
  margin-right:3px;
  white-space:nowrap;
}
.<%=model.class%>_file_info span {
  display:block;
}
.<%=model.class%>_file_info .<%=model.class%>_file_info_item input {
  margin:0;
  flex-grow:1;
}
.<%=model.class%>_file_info_actions { display:flex; justify-content: space-evenly; margin-bottom:4px;  }
.<%=model.class%>_file_info_actions a { color:#000; }
.<%=model.class%>_file_info_actions a img { height:14px; position:relative; top:3px; margin-right: 4px; }
.<%=model.class%>_file_info_rename img { height:14px; position:relative; top:2px; margin-left:7px; }

.<%=model.class%>_drop_overlay {
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  background-color: rgba(255,255,255,0.5);
  width:100%;
  height:100%;
  display:none;
  padding:40px;
  box-sizing:border-box;
}
.<%=model.class%>_drop_overlay_body {
  border:4px dashed #aaa;
  text-align:center;
  vertical-align:center;
  width:100%;
  height:100%;
  font-size:40px;
  color: #aaa;
  font-weight:bold;
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.<%=model.class%>_file_listing.dragOver .<%=model.class%>_drop_overlay {
  display:block;
}
.<%=model.class%>_drop_overlay_body input {
  margin-top:50px;
  width:200px;
}
.<%=model.class%>_AddMedia.dragOver {
  background-color:#f5f5ff;
}