.xbody_<%=model.class%> {
  width:100%; 
  padding-right:20px; 
  box-sizing:border-box;
  padding-bottom:0px;
  max-width:1050px;
}
.xbody_<%=model.class%> .bcrumbs { 
  width:100%; 
  padding-right:20px; 
  padding-bottom:15px;
  box-sizing:border-box;
}
.xelem<%=model.class%>.xform_button_saveMenu.hasChanges {
  font-weight:bold;
}
.<%=model.class%>_browser {
  display:flex;
  width:100%;
  min-width:800px;
  min-height:400px;
  box-sizing:border-box;
}
.xelem<%=model.class%>.tree.menu_item_id {
  height:auto;
  min-height:400px;
  box-sizing:border-box;
  flex-shrink:0;
  flex-grow:1;
}
.xsubform.Menu_Tree_Info {
  display:none;
  margin-top:0px;
  border-right:1px solid #aaa; 
  border-bottom:1px solid #aaa; 
  border-top:1px solid #aaa;
  position:relative;
  width:475px;
  box-sizing:border-box;
}
.xsubform.Menu_Tree_Info .xpanel {
  border:0;
  padding:20px 25px;
  overflow-y:auto;
  width:100%;
  height:100%;
  display:block;
}
.xsubform.Menu_Tree_Info .xtitle {
  padding-bottom:19px;
}

