<div style="display:none;">
  <div class="<%=model.class%>_AddPage xdialogbox xpromptbox" style="min-width:350px;">
    <h3>Add Page</h3>
    <div align="left" style="padding-top:15px;">
      <div style="display: inline-block; width: 100px;margin-bottom:10px;">File Name:</div>
      <input class="page_filename default_focus" style="width:200px;" type="text" maxlength="254"><br/>

      <div style="display: inline-block; width: 100px;margin-bottom:10px;">Page Title:</div>
      <input class="page_title" style="width:200px;" type="text" maxlength="1024"><br/>

      <div style="display: inline-block; width: 100px;margin-bottom:10px;">Template:</div>
      <select class="template_id dropdown"></select><br/>

      <div style="text-align:center;"><input type="button" value="Add" class="button_ok" style="margin-right:15px;" /> <input type="button" value="Cancel" class="button_cancel" /></div>
    </div>
  </div>
</div>