<div class="<%=model.class%>_overview">
  <ul>
    <li>Enter Template Variables below as a JSON object.  The following built-in variables are always available:<br/>
      &nbsp; <b>url_prefix</b> &nbsp; URL Prefix defined in the Deployment Target settings<br/>
      &nbsp; <b>timestamp</b> &nbsp; Current timestamp, ms since Epoch 
    </li>
    <li>Template Variables can be used in Page Templates, Component Templates, and remote URLs by wrapping the key in "%%%", for example: %%%key%%%</li>
  </ul>
</div>
<div style="clear:both;height:5px;"></div>